.board, .info {
    transform: scale(2);
    transform-origin: top left;
    width: 200%; /* doubles the width visually */
    margin: 0 auto; /* keeps it centered horizontally */
}

.move-history {
    max-height: 100px;
    overflow-y: scroll;
}
